[MASTER]
jobs=0
load-plugins=

[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        misplaced-comparison-constant,
        bad-continuation,  # disabled until fixed in pylint

[REFACTORING]
max-nested-blocks=5
never-returning-functions=sys.exit


[BASIC]

argument-naming-style=snake_case
attr-naming-style=snake_case
bad-names=foo,
          bar,
          baz
good-names=
           a,
           b,
           c,
           d,
           e,
           ex,
           f,
           g,
           h,
           i,
           ip,
           j,
           k,
           p,
           p1,
           p2,
           Run,
           s1,
           s2,
           w,
           w1,
           w2,
           x,
           y,
           z
           _
class-attribute-naming-style=any
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=snake_case
inlinevar-naming-style=any
method-naming-style=snake_case
module-naming-style=snake_case
property-classes=abc.abstractproperty
variable-naming-style=snake_case
#variable-rgx=.*
[FORMAT]

expected-line-ending-format=CRLF
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
indent-after-paren=4
indent-string='    '
max-line-length=120
max-module-lines=2000
no-space-check=trailing-comma,
               dict-separator
single-line-class-stmt=no
single-line-if-stmt=no


[LOGGING]

logging-format-style=old
logging-modules=logging


[MISCELLANEOUS]

notes=FIXME,
      XXX,
      TODO


[SIMILARITIES]

ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=6


[TYPECHECK]

contextmanager-decorators=contextlib.contextmanager
generated-members=
ignore-mixin-members=yes
ignore-none=yes
ignore-on-opaque-inference=yes
ignored-classes=optparse.Values,thread._local,_thread._local
ignored-modules=
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1
signature-mutators=


[VARIABLES]

additional-builtins=
allow-global-unused-variables=yes
callbacks=cb_,
          _cb

dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
ignored-argument-names=_.*|^ignored_|^unused_
init-import=no
redefining-builtins-modules=six.moves,past.builtins,future.builtins,builtins,io


[CLASSES]

defining-attr-methods=__init__,
                      __new__,
                      setUp,
                      __post_init__
exclude-protected=_asdict,
                  _fields,
                  _replace,
                  _source,
                  _make
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=cls


[DESIGN]

max-args=10
max-attributes=12
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
max-returns=10
max-statements=100
min-public-methods=2


[IMPORTS]

allow-any-import-level=
allow-wildcard-with-all=no
analyse-fallback-blocks=no
deprecated-modules=optparse,tkinter.tix
known-standard-library=
known-third-party=enchant
preferred-modules=


[EXCEPTIONS]

overgeneral-exceptions=BaseException,
                       Exception
